@theme {
  --color-primary: #2185D5 ;
  --color-secondary: #303841;
  --color-background: #F3F3F3;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  font-family: "Asap Sharp", sans-serif;
}